@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    43 Nw 46 ST.<br />
    Miami, FL 33127<br />
    <abbr title="Phone">P:</abbr>
    305.244.3692
</address>

<!--
<address>
    <strong>Support:</strong>   <a href="mailto:Support@example.com">Support@example.com</a><br />
    <strong>Marketing:</strong> <a href="mailto:Marketing@example.com">Marketing@example.com</a>
</address>
    -->