@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Project Tracking Tool v1.0</h1>
    <p class="lead">This is a project management tool for agile teams.</p>
    <p> 
        <ul>Features
            <li>Project/issue tracking</li>
            <li>Backlog prioritization</li>
            <li>Agile Reporting</li>
        </ul>
    </p>
    <!--<p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>-->
</div>
